@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600;700&display=swap');

@import "tailwindcss";
/*@plugin "@tailwindcss/typography";*/

@theme {
    --color-skin: #4a9;

    --color-white-marble: #E4EAE9;
    --color-soft-misty-cyan: #D9E5E3;
    --color-subtle-white: #eeeeee;

    --color-tender-lavender: #e8dfec;
    --color-digital-red: #ff0000;

    --color-dark-rosewood: #482121;
    --color-buccaneer: #613030;
    --color-bole: #7A3E3E;

    --color-snow: #fff9f9;


    --color-bg-1: var(--color-white-marble);
    --color-bg-2: var(--color-soft-misty-cyan);
    --color-bg-3: var(--color-subtle-white);

    --color-borders: var(--color-tender-lavender);
    --color-error: var(--color-digital-red);

    --color-text-1: var(--color-dark-rosewood);
    --color-text-2: var(--color-buccaneer);
    --color-text-3: var(--color-bole);

    --spacing-aside: 300px;
}

.btn-style {
  @apply rounded-xl border-b-2 bg-snow transition-all duration-300 hover:scale-110 hover:shadow-md hover:cursor-pointer;
}

section {
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 30px;
  padding-right: 30px;
}

ul > li {
  margin-bottom: 8px;
}
