---
import UnOrderedList from './UnOrderedList.astro';

interface Props {
	id: string;
}
const { id }: Props = Astro.props;
---

<section id={id} class="grid grid-cols-1 md:grid-cols-2 md:grid-rows-[repeat(3,minmax(0,auto))] md:grid-flow-col gap-10 bg-bg-1 text-text-3">
    <div>
        <h3 class="text-3xl font-bold text-text-1">
            I love working and investigating things
        </h3>
        <p class="text-xl mt-1">
            Since I started I've worked on professional and personal projects:
        </p>
    </div>
    <UnOrderedList>
            <li><strong>Software Engineer</strong> at <strong>Personas&Tecnologia</strong></li>
            <li><strong>Junior Game Developer</strong> at <strong>World Challenge Game</strong></li>
            <li><strong>Internship</strong> at <strong>Catness Games Studios</strong></li>
            <li><strong>Multiplayer Programmer</strong> for the <strong>Final Degree Project</strong> at <strong>UJI</strong></li>
            <li><strong>Mobile App Co-Developer</strong></li>
            <li><strong>AI Programmer</strong> and <strong>Webscrapping</strong> as an intern at <strong>UJI</strong></li>
            <li><strong>Investigating random level generation</strong></li>
            <li><strong>Leader Programmer</strong> in a <strong>university project</strong></li>
            <li><strong>Programmer</strong> in an <strong>UJI international project</strong> with the <strong>University of Glasgow</strong></li>
    </UnOrderedList>
    <p class="text-lg">
        I also studied a Bachelor of <strong class="text-skin">Design and Development of Videogames</strong> at <strong class="text-text-1">Universitat Jaume I</strong>.
    </p>

    <div>
        <h3 class="text-3xl font-bold text-text-1">
            I'm an adept programmer who enjoys learning
        </h3>
        <p class="text-xl mt-1">
            I have experience with the following:
        </p>
    </div>
    <UnOrderedList>
        <li>
            <strong>Languajes:</strong>
            <br>C++, Kotlin, C#, Python, Flutter.
        </li>
        <li>
            <strong>Technical Tools:</strong>
            <br>Qt, NativeScript, CreateJS, Animate, Unity Engine, Unreal Engine 4 and 5, Github, IntellIJ, Visual Studio, Visual Studio Code, Rider, Android Studio, PyCharm.
        </li>
    </UnOrderedList>
    <p class="text-lg">
        And I do speak <strong class="text-text-1">English (B2)</strong>, <strong class="text-text-1">Spanish (native)</strong> and a bit of <strong class="text-text-1">German (A2)</strong>.
    </p>
</section>

<style>
    li > strong {
        color: var(--color-text-1);
    }
</style>
