---
import SectionTitle from '@/components/SectionTitle.astro'
import ContactMeItem from '@/components/ContactMeItem.astro'

import Envelope from '@/assets/svg/envelope.svg'
import LinkedIn from '@/assets/svg/linkedin.svg'
---

<section class="flex flex-col bg-bg-1">
    <SectionTitle sectionTitle="Contact Me"/>

    <div class="flex flex-row gap-5 justify-evenly">
        <ContactMeItem
            icon={Envelope}
            iconLabel="Email"
            value="adri2001mm@gmail.com"
        />

        <ContactMeItem
            icon={LinkedIn}
            iconLabel="LinkedIn"
            value="https://www.linkedin.com/in/adrián-mon-maroto/"
        />
    </div>
</section>