---
import SectionTitle from '@/components/SectionTitle.astro'
import ContactMeItem from '@/components/ContactMeItem.astro'

import Envelope from '@/assets/svg/envelope.svg'
import LinkedIn from '@/assets/svg/linkedin.svg'
---

<section class="flex flex-col bg-bg-1">
    <SectionTitle sectionTitle="Contact Me"/>

    <div class="flex flex-col md:flex-row gap-5 justify-evenly">
        <ContactMeItem
            icon={Envelope}
            iconLabel="Email"
            value="adri2001mm@gmail.com"
            href="mailto:adri2001mm@gmail.com"
        />

        <ContactMeItem
            icon={LinkedIn}
            iconLabel="LinkedIn"
            value="https://www.linkedin.com/in/adrián-mon-maroto/"
            href="https://www.linkedin.com/in/adrián-mon-maroto/"
        />
    </div>
</section>

<script type="module">
    const loadingTime = 500
    const backToIconTime = 1500

    console.log("Script cargado");

    document.querySelectorAll(".contact-item").forEach((item) => {
        console.log("Inicializando", item);
        const button = item.querySelector(".copy-btn")
        const valueElement = item.querySelector(".copy-value")

        if (!button || !valueElement) {
            return
        }

        const copyIcon = button.querySelector(".copy-icon")
        const spinnerIcon = button.querySelector(".spinner-icon")
        const checkIcon = button.querySelector(".check-icon")
        const errorIcon = button.querySelector(".error-icon")

        if (!copyIcon
            || !spinnerIcon
            || !checkIcon
            || !errorIcon
        ) {
            return
        }

        function showState(state) {
            copyIcon.classList.toggle("hidden", state !== "copy")
            spinnerIcon.classList.toggle("hidden", state !== "loading")
            checkIcon.classList.toggle("hidden", state !== "success")
            errorIcon.classList.toggle("hidden", state !== "error")
        }

        button.addEventListener("click", () => {
            console.log("Copying value:", valueElement.textContent)
            showState("loading")

            navigator.clipboard
                .writeText(valueElement.dataset.value)
                .then(() => {
                    setTimeout(() => {  // false loading
                        showState("success")
                    }, loadingTime)
                })
                .catch((error) => {
                    setTimeout(() => {  // false loading
                        showState("error")
                        console.error("Error copying it:", error)
                        alert("It couldn't be copied. You can manually select and copy it.")
                    }, loadingTime)
                })
                .finally(() => {
                    setTimeout(() => {
                        showState("copy")
                    }, backToIconTime)
                })
        })
    })
</script>