---
interface PlaceDuration {
    place: string;
    initialYear: number;
    finalYear: number;
}

interface Props {
    title: string;
    placesDurations: PlaceDuration[];
}

const { title, placesDurations } = Astro.props;
---

<div class="relative pl-5 overflow-visible">
    <div class="absolute top-2 bottom-0 flex items-start">
        <div class="absolute -left-2 top-0 w-4 h-4 bg-skin rounded-full"></div>
        <div class="w-px bg-skin h-full"></div>
    </div>

    <div class="ml-4">
        <h1 class="text-3xl font-bold text-text-1">
            {title}
        </h1>

        {placesDurations.map((item) => (
            <h2 class="text-xl font-bold text-text-2 mb-5">
               <p>At {item.place}</p>
               <span class="text-text-1">{item.initialYear}-{item.finalYear}</span>
            </h2>
        ))}
    </div>
</div>