---
import SectionTitle from "@/components/SectionTitle.astro"
import TimeLine from "./TimeLine.astro"
import EducationTimeLineElement from "./EducationTimeLineElement.astro"

interface Props {
	id: string;
}
const { id }: Props = Astro.props;
---

<section id={id} class="flex flex-col ml-aside bg-bg-2">
    <SectionTitle sectionTitle="Education"/>
    <TimeLine>
        <EducationTimeLineElement
            title="Bachelor's Degree in Videogame Design and Development"
            placesDurations={[
                {
                    place: "Universitat Jaume I",
                    initialYear: 2019,
                    finalYear: 2023
                },
                {
                    place: "Universität Bremen (Erasmus)",
                    initialYear: 2022,
                    finalYear: 2023
                },
            ]}>
        </EducationTimeLineElement>
    </TimeLine>
</section>