---
interface Props {
    sections: Section[];
}

interface Section {
    id: string;
    label: string;
}

const { sections }: Props = Astro.props;
---
<aside class="fixed left-0 top-0 z-10 flex flex-col w-aside h-screen p-[calc(var(--spacing-aside)*0.10)] justify-evenly items-center bg-bg-3">
    
    <p class="flex basis-1/5 items-center">
        Logo
    </p>
    
    <nav class="basis-3/5">
        <ul class="flex flex-col gap-4">
            {sections.map((section) => (
                <li>
                    <a
                        href={`#${section.id}`}
                        class="block font-semibold rounded-md px-4 py-1.5 text-text-1 border-b border-borders btn-hover transition-transform duration-300 hover:border-skin"
                    >
                        {section.label}
                    </a>
                </li>
            ))}
        </ul>
    </nav>

    <footer class="flex basis-1/5 items-end text-text-3 text-sm">
        © 2026 Adrián Mon Maroto
    </footer>
</aside>