---
import SectionTitle from "@/components/SectionTitle.astro";
import PersonalProjectsFilter from "@/components/PersonalProjectsFilter.astro";
import PersonalProjectsCollection from "@/components/PersonalProjectsCollection.astro";
---

<section class="flex flex-col bg-bg-1">
    <SectionTitle sectionTitle="Personal Projects"/>

    <PersonalProjectsFilter />
    <PersonalProjectsCollection />
</section>