---
import SectionTitle from "./SectionTitle.astro";
import PersonalProjectsFilter from "./PersonalProjectsFilter.astro";
---

<section class="flex flex-col bg-bg-1">
    <SectionTitle sectionTitle="Personal Projects"/>

    <PersonalProjectsFilter />
</section>