---
interface Props {
    extraClass: string;
}

const { extraClass = "" } = Astro.props
---

<a 
    href="public/pdfs/(en)AdriánMonMaroto_CV.pdf"
    target="_blank"
    rel="noopener noreferrer"
    class={`hover:scale-110 transition-transform duration-300 bg-skin text-bg-1 text-center rounded-4xl pt-3 pb-3 pl-9 pr-9 ${extraClass}`}
>
    <strong>See CV</strong>
</a>