---
interface Props {
    extraClass: string;
}

const { extraClass = "" } = Astro.props
---

<a 
    href="/pdfs/(en)AdriánMonMaroto_CV.pdf"
    target="_blank"
    rel="noopener noreferrer"
    class={`btn-style text-lg text-center text-skin rounded-4xl py-3 px-9 ${extraClass}`}
>
    <strong>See CV</strong>
</a>