---
interface Props {
    href: string;
    icon: any;
}

const { href, icon: Icon }: Props = Astro.props;
---

<a
    href={href}
    target="_blank"
    rel="noopener noreferrer"
    class="flex hover:scale-110 transition-transform duration-300 items-center justify-center w-17.5 h-17.5 leading-17.5 rounded-[25%] text-5xl text-bg-1 bg-skin"
>
    <Icon class="w-12.5 h-12.5"/>
</a>
