---
import SocialButton from "./SocialButton.astro";
import SeeCVButton from "./SeeCVButton.astro";

import LinkedIn from "../assets/svg/linkedin.svg";
import GitHub from "../assets/svg/github.svg";
import ItchIO from "../assets/svg/itchio.svg";
---

<section class="flex flex-row bg-bg-1 pt-20 pb-20">
	<div class="basis-[60%] flex flex-col">
		<h3 class="text-3xl font-bold text-text-1">
			Hi! My name is <span class="text-skin">Adrián Mon Maroto</span>
		</h3>
		<h4 class="text-[28px] font-bold text-text-1 mb-4">
			I'm <span class="text-skin">Software Developer</span>
		</h4>
		<div class="text-xl text-text-3">
			<p>I'm a programmer who strives to write clean and scalable code.</p>
			<p>I know how to work alone or with a team and I like to learn and get better skills that will let the final user fascinated.</p>
		</div>
		<div class="mt-auto grid grid-cols-[repeat(3,auto)] justify-around gap-y-5 place-items-center">
			<div class="flex justify-center">
				<SocialButton
					href="https://www.linkedin.com/in/adri%C3%A1n-mon-maroto/"
					icon={LinkedIn}
				/>
			</div>
			<SocialButton
				href="https://github.com/sadrmm"
				icon={GitHub}
			/>
			<SocialButton
				href="https://sadrmm.itch.io/"
				icon={ItchIO}
			/>
			<SeeCVButton extraClass="col-span-3 justify-self-stretch" />
		</div>
	</div>
	<div class="basis-[40%] justify-items-center">
		<img src="src/assets/profile_picture.jpg" class="h-100 rounded-lg">
	</div>
</section>
