---
import '/src/styles/global.css'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>
			Adrián Mon Maroto - Software Developer
		</title>

		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

		<meta
			name="description" 
			content="Adrián Mon Maroto's portofolio. Professional experience, personal projects and education."
		/>

		<meta property="og:url" content="https://sadrmm.github.io" />
		<meta property="og:type" content="website" />
		<meta property="og:title" content="Adrián Mon Maroto - Portfolio" />
		<meta
			property="og:description"
			content="Adrián Mon Maroto's portofolio. Professional experience, personal projects and education."
		/>
		<!--meta property="og:img" content="https://sadrmm.github.io/og.jpg" /-->
		<meta property="og:locale" content="en_US" />

		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:site" content="@sadrmm.github.io" />
		<meta name="twitter:creator" content="@AdriMonMaroto" />
		<meta name="twitter:title" content="Adrián Mon Maroto - Portfolio" />
		<meta
			name="twitter:description"
			content="Adrián Mon Maroto's portofolio. Professional experience, personal projects and education."
		/>
	</head>
	<body>
		<main>
			<slot />
		</main>
	</body>
</html>

<style>
	html {
		scroll-behavior: smooth;
	}

	body {
		display: flex;
		flex-direction: column;
		min-height: 100vh;

		font-family: 'Poppins', sans-serif;
	}
</style>
